@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<br />

@*Install-BlazorPlus*@

<button class="btn btn-info bp-patch-ripple" @onclick="ShowHelloWorld">Hello World</button>
@code{
	void ShowHelloWorld()
	{
		BlazorSession.Current.Alert("Greeting", "Hello World");
	}
}